<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/login.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    </head>
    <body>
        <div id="container">
            <form class="table" method="post">
                <span class="tr"><input type="password" name="password" placeholder="password" required autofocus /></span>
                <span class="tr"><input type="submit" value="Login" /></span>
            </form>
        </div>
    </body>
</html>
